<div class="sticky-top">
	<div class="shadow-sm">

		<nav class="quick-nav navbar navbar-expand-lg navbar-dark bg-ca-black bg-dark">
			<div class="container">
				<button
              class="navbar-toggler"
              type="button"
              aria-controls="navbarSupportedContent"
              [attr.aria-expanded]="!collapsed"
              aria-label="Toggle navigation"
              (click)="collapsed = !collapsed"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
				<div class="navbar-collapse" [class.collapse]="!collapsed" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item dropdown" ngbDropdown>
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
								ngbDropdownToggle routerLink="">Contact us</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" ngbDropdownMenu>
								<a ngbDropdownItem href="tel:+441223553543" routerLink="">
									<fa-icon [icon]="['fas', 'phone-alt']" class="mr-1"></fa-icon>
									<span>+441223553543</span>
								</a>
								<a ngbDropdownItem href="mailto:groupsecurity@cambridgeassessment.org.uk" routerLink="">
									<fa-icon [icon]="['fas', 'envelope']" class="mr-1"></fa-icon>
									<span>groupsecurity@cambridgeassessment.org.uk</span>
								</a>
							</div>
						</li>
					</ul>
					<ul class="navbar-nav">
						<li class="nav-item dropdown" ngbDropdown>
							<a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink2" role="button"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle routerLink="">
								<fa-icon [icon]="['fas', 'user']" class="mr-1"></fa-icon>
                <span class="d-inline-block ml-2">Daniel Sanders</span>
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2" ngbDropdownMenu>
								<a class="dropdown-item" href="" ngbDropdownItem routerLink="">
									<fa-icon [icon]="['fas', 'address-card']" class="mr-1"></fa-icon>
									<span>Profile</span>
								</a>
								<a class="dropdown-item" href="" ngbDropdownItem routerLink="">
									<fa-icon [icon]="['fas', 'sign-out-alt']" class="mr-1"></fa-icon>
									<span>Log out</span>
								</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<header class="branding pt-4 bg-white">
			<div class="container">
				<div class="row">
					<div class="col-6 d-flex align-self-center">
						<p class="h1 font-rubik m-0 d-flex align-items-center">
							<span class="fa-stack h4 mb-0 d-inline-flex align-items-center mr-2">
                <fa-icon [icon]="['fas', 'coffee']" class="fa-2x fa-stack-2x d-flex align-items-center justify-content-center"></fa-icon>
                <fa-icon [icon]="['far', 'eye']" class="fa-1x fa-stack-1x fa-inverse d-flex align-items-center justify-content-center mr-1 mb-2"></fa-icon>
              </span>
							<span class="d-inline-block">Security</span>
						</p>
					</div>
					<div class="col-6 d-flex justify-content-end align-self-center">
						<div class="d-flex align-items-center justify-content-end">
							<img src="./assets/img/cambridge-assessment-logo.svg" class="main-logo img-fluid" width="220" height="60">
                </div>
						</div>
					</div>
				</div>
		</header>

		<nav class="main-nav navbar navbar-expand-lg navbar-light pb-lg-0 bg-white">
			<div class="container">
				<!--<a class="navbar-brand" href="#">Navbar</a>-->
				<button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarNavDropdown2"
              aria-controls="navbarNavDropdown"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
				<div class="collapse navbar-collapse" id="navbarNavDropdown2">
					<ul class="navbar-nav">
						<li class="nav-item active">
							<a class="nav-link pb-2 font-weight-bold" href="#" routerLink="/dashboard">Home
								<span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item dropdown megamenu position-static">
							<a id="megamenu1" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
								class="nav-link dropdown-toggle pb-2 font-weight-bold" routerLink="">Incident</a>
							<div aria-labelledby="megamenu1"
								class="dropdown-menu w-100 bg-transparent border-0 p-0 m-0">
								<div class="container">
									<div class="card border-0 shadow">
										<div class="card-header border-bottom-0">
											<h5 class="font-weight-bold">Incident</h5>
										</div>
										<div class="card-body">
											<div class="row">
												<div class="col-lg-6 mb-4">
													<ul class="list-unstyled">
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0">Nav link
																text</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0">Nav link
																text</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0">Nav link
																text</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0">Nav link
																text</a>
														</li>
													</ul>
												</div>
												<div class="col-lg-6 mb-4">
													<ul class="list-unstyled">
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0">Nav link
																text</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0">Nav link
																text</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0">Nav link
																text</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0">Nav link
																text</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li class="nav-item dropdown megamenu position-static">
							<a id="megamenu2" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
								class="nav-link dropdown-toggle pb-2 font-weight-bold" routerLink="contact">Assistance</a>
							<div aria-labelledby="megamenu2"
								class="dropdown-menu w-100 bg-transparent border-0 p-0 m-0">
								<div class="container">
									<div class="card border-0 shadow">
										<div class="card-header border-bottom-0">
											<h5 class="font-weight-bold">Assistance</h5>
										</div>
										<div class="card-body">
											<div class="row">
												<div class="col-lg-3 mb-4">
													<ul class="list-unstyled">
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0">Nav link
																text</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0">Nav link
																text</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0">Nav link
																text</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0">Nav link
																text</a>
														</li>
													</ul>
												</div>
												<div class="col-lg-3 mb-4">
													<ul class="list-unstyled">
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0">Nav link
																text</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0">Nav link
																text</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0">Nav link
																text</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0">Nav link
																text</a>
														</li>
													</ul>
												</div>
												<div class="col-lg-3 mb-4">
													<ul class="list-unstyled">
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0">Nav link
																text</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0">Nav link
																text</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0">Nav link
																text</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0">Nav link
																text</a>
														</li>
													</ul>
												</div>
												<div class="col-lg-3 mb-4">
													<ul class="list-unstyled">
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0">Nav link
																text</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0">Nav link
																text</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0">Nav link
																text</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0">Nav link
																text</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li class="nav-item dropdown megamenu position-static">
							<a id="megamenu3" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
								class="nav-link dropdown-toggle pb-2 font-weight-bold" routerLink="users">Pen-Test</a>
							<div aria-labelledby="megamenu3"
								class="dropdown-menu w-100 bg-transparent border-0 p-0 m-0">
								<div class="container">
									<div class="card border-0 shadow">
										<div class="card-header border-bottom-0">
											<h5 class="font-weight-bold">Pen-Test</h5>
										</div>
										<div class="card-body">
											<div class="row">
												<div class="col-lg-6 mb-4">
													<ul class="list-unstyled">
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0">Nav link
																text</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0">Nav link
																text</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0">Nav link
																text</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0">Nav link
																text</a>
														</li>
													</ul>
												</div>
												<div class="col-lg-6 mb-4">
													<ul class="list-unstyled">
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0">Nav link
																text</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0">Nav link
																text</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0">Nav link
																text</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0">Nav link
																text</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li class="nav-item dropdown megamenu position-static">
							<a id="megamenu4" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
								class="nav-link dropdown-toggle pb-2 font-weight-bold" routerLink="/heroes">Quick-Check</a>
							<div aria-labelledby="megamenu4"
								class="dropdown-menu w-100 bg-transparent border-0 p-0 m-0">
								<div class="container">
									<div class="card border-0 shadow">
										<div class="card-header border-bottom-0">
											<h5 class="font-weight-bold">Quick-Check</h5>
										</div>
										<div class="card-body">
											<div class="row">
												<div class="col-lg-3 mb-4">
													<ul class="list-unstyled">
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0">Nav link
																text</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0">Nav link
																text</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0">Nav link
																text</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0">Nav link
																text</a>
														</li>
													</ul>
												</div>
												<div class="col-lg-3 mb-4">
													<ul class="list-unstyled">
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0">Nav link
																text</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0">Nav link
																text</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0">Nav link
																text</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0">Nav link
																text</a>
														</li>
													</ul>
												</div>
												<div class="col-lg-3 mb-4">
													<ul class="list-unstyled">
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0">Nav link
																text</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0">Nav link
																text</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0">Nav link
																text</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0">Nav link
																text</a>
														</li>
													</ul>
												</div>
												<div class="col-lg-3 mb-4">
													<ul class="list-unstyled">
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0">Nav link
																text</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0">Nav link
																text</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0">Nav link
																text</a>
														</li>
														<li class="nav-item">
															<a href="" class="nav-link text-small pb-0">Nav link
																text</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</nav>

	</div>

	<nav aria-label="breadcrumb">
		<div class="container">
			<ol class="breadcrumb small bg-transparent px-2 mb-0">
				<li class="breadcrumb-item active" aria-current="page">
					<fa-icon [icon]="['fas', 'home']" class="mr-1"></fa-icon>Home
				</li>
			</ol>
		</div>
	</nav>

</div>