<div class="alert alert-info" role="alert" *ngIf="messageService.messages.length">
	<h4 class="alert-heading">Messages</h4>
	<p><button class="clear btn btn-primary" (click)="messageService.clear()">clear</button></p>
	<hr>
	<ul>
		<li *ngFor='let message of messageService.messages'>{{message}}</li>
	</ul>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->