<!--<h3>Top Heroes</h3>-->
<div class="card-deck">
	<div class="card mb-4 shadow-sm animated scaleUp" *ngFor="let hero of heroes">
		<div class="card-header py-4 border-bottom-0 align-items-center justfy-content-center text-center {{hero.itemHeaderCssClass}}">
      <fa-icon [icon]="['fas', hero.itemIconCssClass]" class="fa-5x mb-3"></fa-icon>
			<h2 class="card-title font-weight-bold text-center">{{hero.itemHeaderText}}</h2>
		</div>
		<div class="card-body">
        <p class="card-text h5">{{hero.itemBodyText}}</p>
		</div>
    <div class="card-footer py-4 bg-transparent border-top-0 text-center">
			<a href="#" class="btn btn-dark btn-lg btn-block stretched-link" routerLink="/detail/{{hero.id}}">{{hero.itemFooterText}}</a>
		</div>
	</div>
</div>

<app-hero-search></app-hero-search>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->